.header {
    background-image: url("../assets/bkgd2.png");
    background-size: 1900px;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 30px;
}